body {
  margin: 0;
  background-color: #ded7d7;
  font-family: 'Open Sans', sans-serif;
}
#top {
  width: 100%;
  height: 110px;
  background-color: white;
  position: absolute;
}
#w1 {
  font-size: 30px;
  text-align: center;
  margin: 15px;
}
#w2 {
  font-size: 15px;
  text-align: center;
}
